.root {
  text-align: center;

  .logo {
    animation: logo-spin infinite 20s linear;
    height: 80px;
  }

  .header {
    background-color: #222;
    height: 200px;
    padding: 20px;
    color: white;
  }

  .links {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;

    & > * {
      padding: 10px 10px;
    }
  }
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
